page-dashboard {
  //  background-image: url('../assets/img/bk.jpg');
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  background: url(../assets/img/bk.jpg) no-repeat ;
  //   -webkit-background-size: 100%;
  //   -moz-background-size: 100%;
  //   background-size: 100%;

  .content-md{
    background-color: transparent
  }

  .container {
    position: relative;
    width: 249px;
  }

  .prof-pic{
    height: 110px;
    width: 110px;
    //margin-left: 70px;
   border-radius: 50%;
   border: 1px solid black;
  }

  .mask {
    top: 50px;
    left: 0;
    right: 0;
    position: absolute;
    height: 110px;
    width: 100%;
    background: radial-gradient(circle, transparent 50px, white 50px);

  }

  .icon-section{
    padding-top: 10px;
  }

  .text-right-align{
    text-align: right;
  }

  .text-center-align{
    text-align: center;
  }

  .display-number{
    font-size: 20px;
    color: red
  }

  .tile-icon{
    border-radius: 5px;
  }

  .profile-details{
    text-align: center;
  }

  .picdiv{
    text-align: center;
  }

  /*background-image: url('../assets/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .content-md{
    background-color: transparent
  }

  .container {
    position: relative;
    width: 249px;
  }

  .prof-pic{
    height: 110px;
    //margin-left: 70px;
   border-radius: 50%;
   border: 1px solid black;
  }

  .mask {
    top: 50px;
    left: 0;
    right: 0;
    position: absolute;
    height: 110px;
    width: 100%;
    background: radial-gradient(circle, transparent 50px, white 50px);

  }

  .icon-section{
    padding-top: 50px;
  }

  .text-right-align{
    text-align: right;
  }

  .text-center-align{
    text-align: center;
  }

  .display-number{
    font-size: 20px;
    color: red
  }

  .tile-icon{
    border-radius: 5px;
  }

  .profile-details{
    text-align: center;
  }

  .picdiv{
    text-align: right;
  }*/
}
