page-list-species {
  .home {
    background: #51884f;
  }

  .list-bak{
  	background: #51884f;
  }

  .cards-bg{
  	background: #51884f;
  }

  .user-details{
  	color:white;
  	margin-left:10px;
  }
}
