page-list-species {
  .home {
    background: white;
  }

  .list-bak{
  	background: white;
  }

  .cards-bg{
  	background: white;
  }

  .user-details{
  	color:white;
  	margin-left:10px;
  }

  .sca{
    width:100%; /* you can use % */
    height: auto;
  }
}
