<ion-header>
	<ion-navbar color="dark" hideBackButton>
		<ion-buttons left>
        <button ion-button (click)="backHome()">
            <ion-icon class="customIcon" name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>

		<ion-title>
			Species
		</ion-title>

		<!--<ion-buttons start>
			<button ion-button icon-only [navPush]="addSpecies">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>-->

		<!--<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button> -->

		<ion-buttons end >
			<button ion-button icon-only [navPush]="addSpecies">
				<ion-icon name="add"></ion-icon>
			</button>
    <!--  <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button> -->

      <button  *ngIf="platform.is('android')" ion-button (click)="exitApp()">
          <ion-icon name="exit"></ion-icon>
        </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content class="cards-bg">

	<ion-grid class="post" style="margin-bottom:40px">
		<ion-row>
			<ion-col width-80 style="color:black;background-color:white;padding:0px;height:30px">
				<ion-item style="height:30px">
					<ion-input class="sea" height="10px" type="text" placeholder="Search" name="searchTerm" [(ngModel)]="searchTerm"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col width-20 style="padding:0px;height:30px">
				<button ion-button color="secondary" (click)="searchSpecies()" style="height:40px">
					<ion-icon name="search"></ion-icon>

				</button>
			</ion-col>
		</ion-row>
	</ion-grid>


	<!-- <div class="user-details">
		<h3>Welcome, {{username}}!</h3>
		<span>Your Email is: {{email}}</span>
	</div> -->

	<ion-list class="list-bak" no-padding *ngIf="species && species.length > 0" >
		<div   *ngFor="let specie of species; let i = index"  >

			<ion-grid class="post">
				<ion-row style="padding-bottom:0px">
		      <ion-col width-12>
		      </ion-col>
		      <ion-col width-75>
		        <div class="" [navPush]="viewSpecies"  [navParams]={id:specie.id}>
							<img class="sca" [src]="getImgUrl(specie.id)" *ngIf="specie.image"  />
							<img class="sca"  src="thumbs.jpg" *ngIf="!specie.image"/>
		        </div>

						<span style="margin-top:5px; margin-right:20px">{{ (specie.location.length>20)? specie.location.substring(0,20)+"...":specie.location}}</span><span style="float:right">{{ specie.date}}</span>
						<p *ngIf="!specie.anonymous" style="margin-top:5px">
							{{specie.user }}
						</p>
		      </ion-col>
		      <ion-col width-12>
						<div class="row list-icon" *ngIf="specie.fav">
                <ion-icon style="color:yellow" name="star" item-right (click)="toggleFavorite(specie.id,i)"></ion-icon>
            </div>
            <div class="row list-icon" *ngIf="!specie.fav">
                <ion-icon style="color:grey" name="star" item-right (click)="toggleFavorite(specie.id,i)"></ion-icon>
            </div>
						<div class="row list-icon" *ngIf="specie.expertReplied">
							<ion-icon style="color:green" name="checkmark-circle" item-right></ion-icon>
						</div>
		      </ion-col>
		    </ion-row>

			</ion-grid>

			<!-- <ion-card>
				<ion-card-header>
					<p *ngIf="!specie.anonymous">Reported By : {{specie.user }} </p>
					<p>On : {{ specie.date}} </p>
				</ion-card-header>



				<ion-row>
          <ion-col width-67>
            <ion-card-content>
							<p>{{specie.type}}</p>
							<p>Name : {{specie.name}}</p>
							<p>{{specie.specname}}...</p>
            </ion-card-content>
          </ion-col>
          <ion-col>
						<img class="sca" [src]="_DomSanitizer.bypassSecurityTrustUrl(specie.image )" *ngIf="specie.image"  />
						<img class="sca" width="80" src="thumbs.jpg" *ngIf="!specie.image"/>
          </ion-col>
        </ion-row>

				<ion-row no-padding>
					<ion-col>
						<button ion-button clear small color="danger" icon-left>
							<ion-icon name='md-chatbubbles'></ion-icon>
								Comment
								<span *ngIf="specie.comments">({{specie.comments}})</span>
								<span *ngIf="!specie.comments">(0)</span>
						</button>
					</ion-col>
				</ion-row>
			</ion-card> -->
		</div>
	</ion-list>

	<ion-list *ngIf="!species || (species && species.length == 0)" inset>
		<p style="color:white">{{noInfoMsg}}</p>
	</ion-list>


	<ion-card>
		<img [src]="adv" />
	</ion-card>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)" style="color:white">
    <ion-infinite-scroll-content style="color:white" loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
