
<ion-header>
  <ion-navbar color="dark">
    <ion-title *ngIf="!showFAB">
      Complains
    </ion-title>
  <!--  <ion-buttons start>
      <button ion-button icon-only [navPush]="addComplaint">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end *ngIf="!showFAB">

      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="showFAB">
      <button  ion-button icon-only color="royal" small class="toolbar-mod">
        <ion-icon name="hammer"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" small class="toolbar-mod">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" small class="toolbar-mod" (click)="toggleFavorite()">
        <ion-icon name="star"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" small class="toolbar-mod" (click)="closeFAB()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

<!--  <ion-toolbar color="dark" *ngIf="showFAB">
    <ion-buttons start>
      <button  ion-button icon-only color="royal" small class="toolbar-mod">
        <ion-icon name="hammer"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" small class="toolbar-mod">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" small class="toolbar-mod">
        <ion-icon name="star"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" small class="toolbar-mod" (click)="closeFAB()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar> -->
</ion-header>

<ion-content class="cards-bg">



<!--  <ion-fab top right  *ngIf="showFAB" #fab>
    <button ion-fab color="dark" mini><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab mini><ion-icon name="hammer"></ion-icon></button>
      <button ion-fab mini ><ion-icon name="trash"></ion-icon></button>
      <button ion-fab mini ><ion-icon name="star"></ion-icon></button>
      <button ion-fab mini (click)="closeFAB()"><ion-icon name="checkmark"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> -->

  <ion-item>

      <ion-select [(ngModel)]="selectedType" name="selectedType" (ionChange)="navType()" >
        <ion-option *ngFor="let selectedType of selectedTypes" value={{selectedType.id}} >{{selectedType.value}}</ion-option>
      </ion-select>
  </ion-item>

  <ion-fab bottom right>
    <button ion-fab color="light" mini  [navPush]="addComplaint"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list *ngIf="complaints && complaints.length > 0" >
    <div  [navPush]="complaint"   *ngFor="let complain of complaints; let i = index" [navParams]={id:complain.id} >

      <ion-grid class="post">
        <ion-row (longPress)="onLongPress($event,complain.id,complain.fav,i)">
        <!--  <ion-col width-25>
            <img class="sca" [src]="_DomSanitizer.bypassSecurityTrustUrl(complain.image )" *ngIf="complain.image"  />
            <img  class="sca" src="thumbs.jpg" *ngIf="!complain.image"/>
          </ion-col>
          <ion-col width-75>
            <div class="list-title">{{complain.type}}</div>
            <div class="list-reportedBy" *ngIf="!complain.anonymous">{{complain.user }} </div>
            <div class="list-desc">{{complain.details}}...</div>
          </ion-col> -->
          <ion-col  class="list-pic" [style.border]="(seletedComplainId === complain.id)?getb():null"
            [style.background-image]="(complain.image)?getBackground(complain.image):getBackground(thumbsImg)"
            [style.background-repeat]="getr()"  [style.background-position]="getp()" [style.background-size]="getz()">
            <div class="row list-icon">
              <ion-icon name="person" item-right></ion-icon>
            </div>
            <div class="row list-icon">
              <img *ngIf="!complain.expertReplied && !complain.closed"  src="tr_r.png" style="float:right" />
              <img *ngIf="complain.expertReplied && !complain.closed"  src="tr_y.png" style="float:right" />
              <img *ngIf="complain.closed"  src="tr_g.png" style="float:right" />
            </div>
            <div class="row list-icon" *ngIf="complain.fav">
                <ion-icon style="color:yellow" name="star" item-right></ion-icon>
            </div>
            <div class="row list-icon" *ngIf="!complain.fav">
                <ion-icon style="color:grey" name="star" item-right></ion-icon>
            </div>
            <div>
              <span class="list-title">{{complain.type}}</span>
              <span class="list-sub">{{complain.address}}</span>
              <div class="list-sub">{{complain.date}}</div>
            </div>

          </ion-col>

        </ion-row>
      </ion-grid>

    </div>
  </ion-list>

  <ion-list *ngIf="!complaints || (complaints && complaints.length == 0)" inset>
   <p>{{noInfoMsg}}</p>
  </ion-list>

  <ion-card>
    <img [src]="adv" />
  </ion-card>

</ion-content>

<!-- <ion-footer no-border *ngIf="showFAB" >
  <ion-toolbar color="dark" >
    <ion-buttons start>
      <button  ion-button icon-only color="royal" small class="toolbar-mod">
        <ion-icon name="hammer"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" small class="toolbar-mod">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" small class="toolbar-mod">
        <ion-icon name="star"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" small class="toolbar-mod" (click)="closeFAB()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer> -->
