
<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Complains
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only [navPush]="addComplaint">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
 
<ion-content class="cards-bg">

  <ion-card>
    <img [src]="adv" />
  </ion-card>

  <div class="user-details">
    <h3>Welcome, {{username}}!</h3>
    <span>Your Email is: {{email}}</span>
  </div>

  <ion-list class="list-bak" no-padding *ngIf="complaints && complaints.length > 0" >
    <div  [navPush]="complaint"   *ngFor="let complain of complaints" [navParams]={id:complain.id} >
      <ion-card>

         <ion-card-header>
          <p>Reported By : {{complain.user }} </p>
          <p>On : {{ complain.date}} </p>

        </ion-card-header>

       <ion-col width-50 offset-25>
       <img [src]="_DomSanitizer.bypassSecurityTrustUrl(complain.image )" *ngIf="complain.image"  />
        <img src="thumbs.jpg" *ngIf="!complain.image"/>
    </ion-col>

        <ion-card-content>
          <ion-card-title>
            {{complain.type}}
          </ion-card-title>
          <p>Responsible : {{complain.res_person}}</p>
          <p>{{complain.details}}...</p>
        </ion-card-content>

        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small color="danger" icon-left>
              <ion-icon name='md-chatbubbles'></ion-icon>
              Comment <span *ngIf="complain.comments">({{complain.comments}})</span> <span *ngIf="!complain.comments">(0)</span>
            </button>
          </ion-col>
        </ion-row>

      </ion-card>
      
    </div>
  </ion-list>

  <ion-list *ngIf="!complaints || (complaints && complaints.length == 0)" inset>
   <p>No Complains Found.</p>
  </ion-list>

</ion-content>

