<ion-header>
	<ion-navbar color="dark">
    	<ion-title>
      		Edit Species
    	</ion-title>

    	<button ion-button menuToggle>
     		<ion-icon name="menu"></ion-icon>
    	</button>

			<ion-buttons end >

	    <!--  <button ion-button (click)="logout()">
	        <ion-icon name="log-out"></ion-icon>
	      </button> -->

	      <button ion-button (click)="exitApp()">
	          <ion-icon name="exit"></ion-icon>
	        </button>
	    </ion-buttons>
  	</ion-navbar>
</ion-header>


<ion-content padding class="editSpecies">

	<ion-row *ngIf="imageCounter < 3">
		<ion-col>
				<button class="new-btn" ion-button color="dark" type="button" (click)="takePicture()" >
					<ion-icon name="camera"></ion-icon>&nbsp;
						Take a Picture
				</button>
		</ion-col>
		<ion-col>
			<button class="new-btn" ion-button color="dark" (click)="selectPicture()">
				<ion-icon name="add-circle"></ion-icon>&nbsp;
				From Gallary
			</button>
		</ion-col>
	</ion-row>
	<span style="color:black">(Max 3 images)</span>

	<ion-row>
    <ion-col width-33>
      <img [src]="_DomSanitizer.bypassSecurityTrustUrl(base64Images[0])" *ngIf="base64Images[0]"  class="tile-icon"  />
      <img  *ngIf="!base64Images[0]"  class="tile-icon" src="plus.jpg" />
    </ion-col>
    <ion-col width-33>
      <img [src]="_DomSanitizer.bypassSecurityTrustUrl(base64Images[1])" *ngIf="base64Images[1]"  class="tile-icon"  />
      <img  *ngIf="!base64Images[1]"  class="tile-icon" src="plus.jpg" />
    </ion-col>
    <ion-col width-33>
      <img [src]="_DomSanitizer.bypassSecurityTrustUrl(base64Images[2])" *ngIf="base64Images[2]"  class="tile-icon"  />
      <img  *ngIf="!base64Images[2]"  class="tile-icon" src="plus.jpg" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-33>
      <button *ngIf="base64Images[0]" class="img-close" ion-button color="dark" type="button" (click)="deletePicture(0)">X</button>
    </ion-col>
    <ion-col width-33>
      <button *ngIf="base64Images[1]" class="img-close" ion-button color="dark" type="button" (click)="deletePicture(1)">X</button>
    </ion-col>
    <ion-col width-33>
      <button *ngIf="base64Images[2]" class="img-close" ion-button color="dark" type="button" (click)="deletePicture(2)">X</button>
    </ion-col>
  </ion-row>

	<!--<ion-row *ngFor="let base64Image of base64Images" >
		<ion-col width-80>
			<img [src]="_DomSanitizer.bypassSecurityTrustUrl(base64Image)" *ngIf="base64Image" />
		</ion-col>
	</ion-row> -->


	<ion-item>
			<ion-label stacked>Select Type</ion-label>
			<ion-select [(ngModel)]="specie.type" name="type" >
				<ion-option  value="Plant" >Plant</ion-option>
				<ion-option  value="Animal" >Animal</ion-option>
			</ion-select>
	</ion-item>

	<ion-item>
		<ion-label stacked>Common name / Scientific name</ion-label>
		<ion-textarea [(ngModel)]="specie.name" name="name" placeholder="Enter information"></ion-textarea>
	</ion-item>

	<ion-item>
		<ion-label stacked>Genus name and the species name</ion-label>
		<ion-textarea [(ngModel)]="specie.specname" name="specname" placeholder="Enter information"></ion-textarea>
	</ion-item>



	<!-- <button ion-button (click)="takeVideo()">Record</button>
	<button ion-button (click)="selectvideo()">Select Video</button>
	<video #myvideo height="300" width="300" controls ></video> -->

	<ion-item>
		<ion-label>Date/Time</ion-label>
		<ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="specie.datetime"></ion-datetime>
	</ion-item>


	<ion-item>
		<ion-label stacked>Location</ion-label>
		<ion-textarea [(ngModel)]="specie.location" name="location" placeholder="Enter the address"></ion-textarea>
	</ion-item>


	<ion-buttons end>
		<button ion-button  color="dark" (click)="addMarker()"><ion-icon name="add"></ion-icon>Mark Location</button>
	</ion-buttons>
	<div width="50%" #map id="map"></div>


	<ion-row>
		<ion-col>
			<button ion-button class="submit-btn" full type="button" (click)="updateSpecies()" >Update</button>
		</ion-col>
	</ion-row>

</ion-content>
