page-add-compaint {
	.addComplain{
		background: #28653A;


		#map {
        	width: 80%;
        	height: 40%;
        	margin: auto;
					min-height: 400px;
      	}

				.vid_align{
					margin-left: 10%;
				}

		.white-font{
			color: white;
		}

		.new-btn{
			width: 95%;
			height: 50px;
		}

	}

}
