<!--
  Generated template for the Complaint page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark" hideBackButton>
    <ion-buttons left>
        <button ion-button (click)="backHome()">
            <ion-icon class="customIcon" name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>
      Complain Details
    </ion-title>
  <!--  <ion-buttons start>
      <button ion-button icon-only [navPush]="addComplaint">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons> -->



    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons start>
        <button ion-button icon-only (click)="facebookShare()">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
      </ion-buttons>

    <ion-buttons end *ngIf="complains && complains.length > 0">
      <button ion-button *ngIf="complains[0].fav" (click)="toggleFavorite()">
        <ion-icon style="color:yellow" name="star" item-right></ion-icon>
      </button>
      <button ion-button *ngIf="!complains[0].fav" (click)="toggleFavorite()">
          <ion-icon style="color:grey" name="star" item-right></ion-icon>
      </button>


      <!--  <button ion-button (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button> -->

        <button ion-button (click)="exitApp()">
            <ion-icon name="exit"></ion-icon>
          </button>


    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content class="complains" >





<div *ngIf="complains && complains.length > 0" >

  <ion-row>
    <ion-col width-33>
      <img (click)="zoomImg(complains[0].image)"  [src]="_DomSanitizer.bypassSecurityTrustUrl(complains[0].image)" *ngIf="complains[0] && complains[0].image"  class="tile-icon"  />
      <img  *ngIf="!complains[0] || !complains[0].image"  class="tile-icon" src="plus.jpg" />
    </ion-col>
    <ion-col width-33>
      <img (click)="zoomImg(complains[1].image)" [src]="_DomSanitizer.bypassSecurityTrustUrl(complains[1].image)" *ngIf="complains[1] && complains[1].image"  class="tile-icon"  />
      <img  *ngIf="!complains[1] || !complains[1].image"  class="tile-icon" src="plus.jpg" />
    </ion-col>
    <ion-col width-33>
      <img (click)="zoomImg(complains[2].image)" [src]="_DomSanitizer.bypassSecurityTrustUrl(complains[2].image)" *ngIf="complains[2] && complains[2].image"  class="tile-icon"  />
      <img   *ngIf="!complains[2] || !complains[2].image"  class="tile-icon" src="plus.jpg" />
    </ion-col>
  </ion-row>

  <ion-card>

  <ion-row >
     <ion-col width-100>

      <ion-buttons end *ngIf="complains[0].uid == userId" >
        <button [navPush]="editComplain" [navParams]={id:complains[0].id} >
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-buttons>
      <div class="main-det">
      <p class="comp-text"> Problem  : {{complains[0].type}} </p>
      <p class="comp-text">
        Location : {{complains[0].location}} <br/>
        <span *ngIf="complains[0].lat">(Lat : {{complains[0].lat}}, Lng : {{complains[0].lng}} ) </span>
      </p>
      <p class="comp-text"> Party    : {{complains[0].res_person}} </p>
      <p class="comp-text" *ngIf="!complains[0].anonymous"> Reported By : {{complains[0].user}} </p>
      <p class="comp-text"> On : {{complains[0].date}} </p>

    </div>
    <ion-row>
      <ion-col>
        <div class="des">
          <p>{{complains[0].details}} </p>
        </div>
      </ion-col>
    </ion-row>


  </ion-col>
  </ion-row>
</ion-card>
<!-- <ion-card>

  <ion-row *ngFor="let comp of complains">
    <ion-col *ngIf="comp.image">
      <img  [src]="_DomSanitizer.bypassSecurityTrustUrl(comp.image)"/>
    </ion-col>
  </ion-row>
</ion-card> -->

<!--<ion-col>
  <video  class="vid_align" #myvideo height="250" width="250" controls poster="vid.png"></video>
</ion-col> -->
</div>

<button ion-button full class="map-button" (click)="toggleMap()">
  <ion-icon style="font-size:30px" name="arrow-dropdown-circle" *ngIf="hideMap"></ion-icon>
  <ion-icon style="font-size:30px" name="arrow-dropup-circle" *ngIf="!hideMap"></ion-icon>
</button>
<div *ngIf="complains && complains[0] && complains[0].lat" [hidden]="hideMap" width="60%" height="100%"  #map id="map"></div>

<ion-card>
  <ion-item>
    <ion-label>Comments</ion-label>
  </ion-item>

  <ion-list *ngIf="comments && comments.length > 0" inset>
    <div *ngFor="let comment of comments">
      <button class="com"  [class.admin_comment]="checkAdminComment(comment)"  >
        <p>{{comment.user}}</p>
        <p>{{comment.date}}</p>
        <p [class.admin_comment]="checkAdminComment(comment)">{{comment.details}}</p>
      </button>
    </div>
  </ion-list>

<!--  <ion-list *ngIf="!comments || (comments && comments.length == 0)" inset>
   <p>No Comments Found.</p>
 </ion-list> -->
</ion-card>
<ion-card>
  <ion-row class="pex-input">
    <ion-col>
      <ion-item>
        <ion-label stacked>Make a Comment</ion-label>
        <ion-textarea [(ngModel)]="comment.details" name="location" placeholder="" ></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button color="dark" type="button" (click)="addComment()"  >+ Comment</button>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card style="margin-bottom:30px">
  <img [src]="adv" />
</ion-card>

</ion-content>
