<!--
  Generated template for the Complaint page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark" hideBackButton>
    <ion-buttons left>
        <button ion-button (click)="backHome()">
            <ion-icon class="customIcon" name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>
      Complain Details
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only [navPush]="addComplaint">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button *ngIf="complains[0].fav" (click)="toggleFavorite()">
        <ion-icon style="color:yellow" name="star" item-right></ion-icon>
      </button>
      <button ion-button *ngIf="!complains[0].fav" (click)="toggleFavorite()">
          <ion-icon style="color:grey" name="star" item-right></ion-icon>
      </button>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>


    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content class="complains">

<ion-card>
  <img [src]="adv" />
</ion-card>

<div *ngIf="complains && complains.length > 0" >

<ion-card>


	<ion-item>
    <ion-buttons end *ngIf="complains[0].uid == userId" >
      <button [navPush]="editComplain" [navParams]={id:complains[0].id} >
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>

    <h2 class="det"> Problem  : {{complains[0].type}} </h2>
        <h2 class="det"> Location : {{complains[0].location}} </h2>
        <h2 class="det"> Party    : {{complains[0].res_person}} </h2>
        <h3 *ngIf="!complains[0].anonymous"> Reported By : {{complains[0].user}} </h3>
        <h3> On : {{complains[0].date}} </h3>
  </ion-item>



	<ion-row>
		<ion-col>
      <div class="des">
			{{complains[0].details}}
      </div>
		</ion-col>
	</ion-row>
</ion-card>

<ion-card>

  <ion-row *ngFor="let comp of complains">
    <ion-col *ngIf="comp.image">
      <img  [src]="_DomSanitizer.bypassSecurityTrustUrl(comp.image)"/>
    </ion-col>
  </ion-row>
</ion-card>

<!--<ion-col>
  <video  class="vid_align" #myvideo height="250" width="250" controls poster="vid.png"></video>
</ion-col> -->

</div>
  <div *ngIf="complains && complains[0] && complains[0].lat" width="60%" height="100%"  #map id="map"></div>
<ion-card>

  <ion-list *ngIf="comments && comments.length > 0" inset>
    <div *ngFor="let comment of comments">
      <button  ion-item [class.admin_comment]="checkAdminComment(comment)"  >
        <h2>{{comment.user}}</h2>
        <h4>{{comment.date}}</h4>
        <p [class.admin_comment]="checkAdminComment(comment)">{{comment.details}}</p>
      </button>
    </div>
  </ion-list>

  <ion-list *ngIf="!comments || (comments && comments.length == 0)" inset>
   <p>No Comments Found.</p>
  </ion-list>
</ion-card>
<ion-card>
  <ion-row class="pex-input">
    <ion-col>
      <ion-item>
        <ion-label stacked>Put your comment here.</ion-label>
        <ion-textarea [(ngModel)]="comment.details" name="location" placeholder="Enter information" ></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button color="dark" type="button" (click)="addComment()"  >Add Comment</button>
    </ion-col>
  </ion-row>
</ion-card>

</ion-content>
