<!--
  Generated template for the Complaint page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Complain</ion-title>
    <ion-buttons end>
    	<button [navPush]="addComplaint">
    		+
    	</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="about" *ngIf="complains && complains.length > 0">
	<ion-row>
		<ion-col width-80>
			<ion-row>
				Anonymous
			</ion-row>
			<ion-row>
				On 12/12/2015 2.30 P.M
			</ion-row>
		</ion-col>
		
	</ion-row>

	<ion-row>
		<ion-col>
			<ion-row>
				Problem : {{complains[0].type}}
			</ion-row>
			<ion-row>
				Location : Marine Drive Colombo 04
			</ion-row>
			<ion-row>
				Party : {{complains[0].res_person}}
			</ion-row>
		</ion-col>
	</ion-row>


	<ion-row>
		<ion-col>
			{{complains[0].details}}
		</ion-col>
	</ion-row>

 	<ion-row class="logo-row">
 		<ion-col>
 			<img src="http://placehold.it/300x200"/>
 		</ion-col>
 		<ion-col>
 			<img src="http://placehold.it/300x200"/>
 		</ion-col>
    	<ion-col>
    		<img src="http://placehold.it/300x200"/>
    	</ion-col>
  	</ion-row>

    <ion-row *ngFor="let comp of complains">
      <ion-col>
        <img src={{comp.image}} />
      </ion-col>
    </ion-row>


  	<ion-row>
  		<ion-col>
  			Upvote
  		</ion-col>
  		<ion-col>
  			Comment
  		</ion-col>
  	</ion-row>

  	<ion-row>
  		<ion-row>
  			<ion-col>
  				<div>Anonymous</div>
  				<div>2016-04-15 13.23 P.M</div>
  			</ion-col>
  			<ion-col>
  				icon
  			</ion-col>
  		</ion-row>
  		<ion-row>
  			Test Comment - this is a test comment put by user
  		</ion-row>
  	</ion-row>

</ion-content>
