page-complaint {

		.complains{
			background: #76b775;

			#map {
        		width: 90%;
        		height: 100%;
        		margin: auto;
      		}

      		.default_space{
      			margin-top:56px;
      		}

      .bold-label{
        font-weight: 300
      }
		}
		
}
