<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Events
    </ion-title>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-list *ngIf="events && events.length > 0" >
    <div  *ngFor="let event of events; let i = index">

      <ion-grid class="post">
        <ion-row>
          <ion-col width-25>
            <img  class="sca" src="./assets/img/event.png" />
          </ion-col>
          <ion-col width-75>
            <div class="list-title">{{event.title}}</div>
            <div class="list-reportedBy">{{event.location }} </div>
            <div class="list-desc">{{event.date}}</div>
          </ion-col>

        </ion-row>
      </ion-grid>

    </div>
  </ion-list>

  <ion-list *ngIf="!events || (events && events.length == 0)" inset>
   <p>{{noInfoMsg}}</p>
  </ion-list>

</ion-content>
